@model Chat.Data.Entities.Mensajes

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Mensajes</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label hidden asp-for="FechaEnviado" class="control-label"></label>
                <input hidden asp-for="FechaEnviado" value="@DateTime.Now" class="form-control" />
                <span asp-validation-for="FechaEnviado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CuerpoMensaje" class="control-label"></label>
                <input asp-for="CuerpoMensaje" class="form-control" />
                <span asp-validation-for="CuerpoMensaje" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Emisor" class="control-label"></label>
                <input asp-for="Emisor.Email" value="Emiliano" class="form-control" />
                <span asp-validation-for="CuerpoMensaje" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-outline-success">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
